Handle FHIR Content Type/Handle_FHIR+Json_Content_Type.json
{"flowContents":{"identifier":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Handle FHIR+Json Content Type","comments":"","position":{"x":2296.0,"y":936.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1aa3f915-7e30-38d9-af81-fd2a88e52ca1","name":"Determine if Content-Type FHIR JSON","comments":"","position":{"x":1616.0,"y":-64.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","fhir.json":"${Content-Type:notNull():and(\n        ${Content-Type:contains('fhir+json')}\n)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fhir.json":{"name":"fhir.json","displayName":"fhir.json","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"2324efac-7cf9-3988-a140-6fc5eb33df4c","name":"Determine if content-type FHIR JSON","comments":"","position":{"x":1616.0,"y":176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","fhir.json":"${content-type:notNull():and(\n        ${content-type:contains('fhir+json')}\n)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fhir.json":{"name":"fhir.json","displayName":"fhir.json","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"97df30fd-dc8c-3e01-80b8-d825f7493db6","name":"Determine if Mime.Type FHIR JSON","comments":"","position":{"x":1616.0,"y":816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","fhir.json":"${Mime.Type:notNull():and(\n        ${Mime.Type:contains('fhir+json')}\n)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fhir.json":{"name":"fhir.json","displayName":"fhir.json","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"0d4d1d00-ea8f-3bd2-a703-7f438ce7f980","name":"Set content-type to json","comments":"","position":{"x":2304.0,"y":176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","content-type":"${content-type:replace('fhir+json', 'json')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"ce16e10d-4dca-3b00-9056-947fe0875731","name":"Set Mime.Type to json","comments":"","position":{"x":2280.0,"y":824.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Mime.Type":"${Mime.Type:replace('fhir+json', 'json')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"d2fa4766-43fc-3474-89f2-81a873b46cb9","name":"Set Content-Type to json","comments":"","position":{"x":2312.0,"y":-64.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"Content-Type":"${Content-Type:replace('fhir+json', 'json')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"0845fb05-e46b-3389-92f9-803c6f7860a1","name":"Set mime.type to json","comments":"","position":{"x":2280.0,"y":608.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"${mime.type:replace('fhir+json', 'json')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","name":"Determine if mime.type FHIR JSON","comments":"","position":{"x":1616.0,"y":496.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","fhir.json":"${mime.type:notNull():and(\n        ${mime.type:contains('fhir+json')}\n)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fhir.json":{"name":"fhir.json","displayName":"fhir.json","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"}],"inputPorts":[{"identifier":"67363f62-1ec5-3468-80ad-a6f13e687521","name":"Input","comments":"","position":{"x":1672.0,"y":-256.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"}],"outputPorts":[{"identifier":"f6c8c5a0-ab3d-3e82-afeb-a89d56d33136","name":"Output","comments":"","position":{"x":1672.0,"y":1160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"}],"connections":[{"identifier":"c48e5509-f960-3f70-b617-df0124c6e7a5","name":"","source":{"id":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if mime.type FHIR JSON","comments":""},"destination":{"id":"0845fb05-e46b-3389-92f9-803c6f7860a1","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set mime.type to json","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["fhir.json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"7476da4a-ce61-3d5a-92c1-d29693029212","name":"","source":{"id":"0d4d1d00-ea8f-3bd2-a703-7f438ce7f980","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set content-type to json","comments":""},"destination":{"id":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if mime.type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"c6f9fcf8-1afa-3617-8326-d0aa186e9932","name":"","source":{"id":"67363f62-1ec5-3468-80ad-a6f13e687521","type":"INPUT_PORT","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Input","comments":""},"destination":{"id":"1aa3f915-7e30-38d9-af81-fd2a88e52ca1","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Content-Type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"0fe50c9d-c6ab-3673-a9a1-368821a9a29d","name":"","source":{"id":"d2fa4766-43fc-3474-89f2-81a873b46cb9","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set Content-Type to json","comments":""},"destination":{"id":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if mime.type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2872.0,"y":0.0},{"x":2872.0,"y":560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"2f4256b0-08a5-3cd3-b643-f573a9745c35","name":"","source":{"id":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if mime.type FHIR JSON","comments":""},"destination":{"id":"97df30fd-dc8c-3e01-80b8-d825f7493db6","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Mime.Type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"92d72205-b6c4-3309-bb74-1b12e177d659","name":"","source":{"id":"0845fb05-e46b-3389-92f9-803c6f7860a1","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set mime.type to json","comments":""},"destination":{"id":"97df30fd-dc8c-3e01-80b8-d825f7493db6","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Mime.Type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"3dc90498-571a-3676-ac26-4e2ab867d874","name":"","source":{"id":"1aa3f915-7e30-38d9-af81-fd2a88e52ca1","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Content-Type FHIR JSON","comments":""},"destination":{"id":"d2fa4766-43fc-3474-89f2-81a873b46cb9","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set Content-Type to json","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["fhir.json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"03b6dc4b-f8bf-36cc-8784-d644562712c3","name":"","source":{"id":"97df30fd-dc8c-3e01-80b8-d825f7493db6","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Mime.Type FHIR JSON","comments":""},"destination":{"id":"ce16e10d-4dca-3b00-9056-947fe0875731","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set Mime.Type to json","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["fhir.json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"afa5ab91-aa86-31ab-8cd9-d2dc87405ff0","name":"","source":{"id":"2324efac-7cf9-3988-a140-6fc5eb33df4c","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if content-type FHIR JSON","comments":""},"destination":{"id":"92bee0a0-5e64-3dfa-a9d9-8c0a800e49f7","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if mime.type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"3cd9cbb7-db27-33cb-8b9f-6f4ad8d7a08e","name":"","source":{"id":"ce16e10d-4dca-3b00-9056-947fe0875731","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set Mime.Type to json","comments":""},"destination":{"id":"f6c8c5a0-ab3d-3e82-afeb-a89d56d33136","type":"OUTPUT_PORT","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Output","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"26674eb0-419c-3cc4-afa9-93c7087b378e","name":"","source":{"id":"97df30fd-dc8c-3e01-80b8-d825f7493db6","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Mime.Type FHIR JSON","comments":""},"destination":{"id":"f6c8c5a0-ab3d-3e82-afeb-a89d56d33136","type":"OUTPUT_PORT","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Output","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"9a4326fc-455c-3b3e-8efd-01e53a5b38bd","name":"","source":{"id":"2324efac-7cf9-3988-a140-6fc5eb33df4c","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if content-type FHIR JSON","comments":""},"destination":{"id":"0d4d1d00-ea8f-3bd2-a703-7f438ce7f980","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Set content-type to json","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["fhir.json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"},{"identifier":"ea83c3b3-0e18-39fd-8c11-ff9422418c7e","name":"","source":{"id":"1aa3f915-7e30-38d9-af81-fd2a88e52ca1","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if Content-Type FHIR JSON","comments":""},"destination":{"id":"2324efac-7cf9-3988-a140-6fc5eb33df4c","type":"PROCESSOR","groupId":"ccaa228c-d666-3730-9ccc-f28a182310ac","name":"Determine if content-type FHIR JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ccaa228c-d666-3730-9ccc-f28a182310ac"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}